@import "/styles/index.scss";

.profile_most_played {
  &_container {
    max-width: 48rem;
    width: 40vw;
  }
  height: 40vw;
  max-height: 40vw;
  max-width: 48rem;
  max-height: 48rem;
  overflow: scroll;
  @include remove-scroll;
  @include l_tablet {
    height: 100%;
    max-height: unset;
    &_container {
      width: 85vw;
      margin-top: 4rem;
    }
  }
}

.container {
  @include flex(row, center, space-between);
  width: 85vw;
  max-width: 102rem;
  margin: auto;
  margin-top: 5rem;
  h2 {
    font-weight: 400;
  }
  @include l_tablet {
    @include flex(column, center, flex-start);
    margin-top: 2rem;
  }
}