@import "/styles/index.scss";

.button {
  padding: 1rem 2.5rem;
  border: none;
  background-color: $primary-color;
  color: $bg-light;
  border-radius: 40px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  @include Montserrat;
  &_dark {
    background-color: $bg-color;
    color: $bg-light;
  }
  @include l_mobile {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }
  &_small {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    font-weight: 500;
    @include m_tablet {
      font-size: 0.75rem;
      padding: 0.6rem 1.2rem;
    }
  }
}
