@import "/styles/index.scss";

.button {
  padding: 1rem 2.5rem;
  border: none;
  background-color: $primary-color;
  color: $bg-light;
  border-radius: 40px;
  font-size: 1.4rem;
  cursor: pointer;
  @include Montserrat;
  &_dark {
    background-color: $bg-color;
    color: $bg-light;
  }
  @include l_mobile {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }
}
