@import "/styles/index.scss";

.container {
  height: 100vh;
  main {
    background-color: $bg-light;
    width: 60%;
    height: inherit;
    padding: 0 4rem;
    @include flex();
    h1 {
      color: $bg-color;
      margin-top: 0;
      font-size: 5rem;
      width: 80%;
      font-weight: bold;
    }
  }
  &_btn {
    &_login {
      margin-right: 2rem;
    }
  }
}
