@import "/styles/index.scss";

.container {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100vw;
  z-index: 10;
  .nav {
    @include flex(row, center, space-between);
    padding: 1rem 4rem;
    @include m_tablet {
      padding: 0.8rem;
    }
    &_logo {
      @include flex();
      text-decoration: none;
      cursor: pointer;
      &_img {
        position: relative;
        width: 50px;
        height: 50px;
        @include m_tablet {
          width: 30px;
          height: 30px
        }
      }
      &_title {
        @include Montserrat;
        font-size: 1.8rem;
        font-weight: 600;
        color: $bg-light;
        margin-left: 0.5rem;
        overflow: hidden;
        @include m_tablet {
          font-size: 1.2rem;
        }
        p {
          margin: 0;
          transform: translateX(-100%);
          // animation: left-to-right-slide;
          @include left-to-right-slide;
          animation-delay: 0.5s;
          animation-iteration-count: 1;
          animation-duration: 1s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &_sticky {
    position: fixed;
    background: $bg-color;
    @include top-to-down-slide;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}
