@import "/styles/index.scss";

.profile_img {
  @include flex(column, center, center);
  @include align-box(95%, 50%);
  img {
    border-radius: 5px;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    min-width: 180px;
    min-height: 35px;
  }
}
.profile_name {
  margin-top: 1rem;
}