@import "/styles/index.scss";

.profile_img {
  @include flex(column, center, center);
  @include align-box(95%, 50%);
  @include l_mobile {
    @include align-box(120%, 50%);
  }
  .profile_container {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgba($color: $bg-light, $alpha: 0.1);
  }
  &_container {
    width: 200px;
    height: 200px;
    position: relative;
    img {
      border-radius: 50%;
    }
    @include l_mobile {
      width: 150px;
      height: 150px;
    }
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    min-width: 180px;
    min-height: 35px;
    text-align: center;
    @include l_mobile {
      font-size: 1.5rem;
    }
  }
}
.profile_name {
  margin-top: 1rem;
}
