@import "/styles/index.scss";

.container {
  &_main {
    height: 200px;
    // background: linear-gradient(rgb(200, 8, 24), $bg-color);
    background-color: rgb(200, 8, 24);
    position: relative;
    margin-bottom: 10rem;
    @include l_mobile {
      height: 150px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
        url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
    }
  }
  .profile {
    &_songs {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10rem;
      padding: 0 2rem;
    }
  }
}
