@import "/styles/index.scss";

.profile_top_artist {
  margin: auto;
  margin-top: 12rem;
  width: 85vw;
  max-width: 102rem;
  h2 {
    font-weight: 400;
    // @include l_mobile {
    //   font-size: 1.35rem
    // }
  }
  &_imgs {
    @include flex(row, flex-start, flex-start);
    overflow: scroll;
    @include remove-scroll;
  }
  // padding-left: 10rem;
  &_list {
    &:not(&:last-child) {
      margin-right: 2rem;
    }
    img {
      border-radius: 5px;
    }
  }
  &_img {
    position: relative;
    @include box(140px);
    @include m_mobile {
      @include box(120px);
    }
  }
  &_name {
    margin-top: 0.5rem;
    h3 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      min-height: 19.5px;
      // @include m_mobile {
      //   font-size: 0.9rem;
      // }
    }
  }
}