@import "/styles/index.scss";

.container {
  width: fit-content;
  position: relative;
  .btn {
    background-color: rgb(31, 31, 31);
    border: 0;
    color: $bg-light;
    border-radius: 30px;
    padding: 0.65rem 1.3rem 0.65rem 1.6rem;
    font-size: 1rem;
    @include flex();
    @include Montserrat;
    cursor: pointer;
    z-index: 12;
    position: relative;
    span {
      font-size: 1.5rem;
      @include flex(row, center, flex-end);
    }
    @include m_tablet {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem 0.6rem 1.6rem;
      span {
        font-size: 1,8rem;
      }
    }
    @include s_mobile {
      padding: 0.45rem 0.6rem 0.45rem 1rem;
    }
  }
  .list {
    list-style: none;
    transform-origin: 0 0;
    transform: scaleY(0);
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
    text-align: left;
    background-color: rgb(31, 31, 31);
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0 0 10px 10px;
    transition: 0.3s ease-in-out;
    width: 100%;
    font-size: 1rem;
    @include m_tablet {
      font-size: 0.9rem;
    }
    li {
      cursor: pointer;
      margin-left: auto;
      @include underline-animation;
      width: fit-content;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    .selected_option {
      background: linear-gradient(currentColor 0 0) 0 100% /100% 1.5px no-repeat;
    }
  }
  &:hover {
    .list {
      transform: scaleY(100%);
    }
  }
}
